Repository jaoafa/jaoweb4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

chore: 記事本文のスタイルを調整
  tailwind.config.js
Due: eslint --fix, prettier --write

docs: 自由建築エリア外での建築についてのルールを調整
  src/content/2.docs/1.rules/1.build.md
Due: none

docs: ルールページの記事作成日を表示しないよう変更
  src/content/2.docs/1.rules/1.build.md
  src/content/2.docs/1.rules/index.md
Due: none

ci: フォークリポジトリからのPR時、ラベルを追加させるコメントを書きこむ処理追加
  .github/workflows/publish.yml
Due: none

ci: fix GH_TOKEN
  .github/workflows/publish.yml
Due: none

ci: add escape
  .github/workflows/publish.yml
Due: none

ci: リポジトリ指定を明確化
  .github/workflows/publish.yml
Due: none

ci: use trigger pull_request_target opened
  .github/workflows/publish.yml
Due: none

test: ci test
  src/content/index.md
Due: none

ci: リポジトリ指定のミス修正
  .github/workflows/publish.yml
Due: none

プロフィールページを更新
  src/content/4.support/3.profiles.md
Due: none

chore: add book000 to CODEOWNERS
  .github/CODEOWNERS
Due: none

feat: support codespace [WIP]
  .devcontainer/devcontainer.json
  nuxt.config.ts
  src/modules/ws-dev.ts
Due: eslint --fix, prettier --write

文章の移植
  src/content/4.support/2.faq.md
Due: none

ci: fix cloudflare/pages-action get ref
  .github/workflows/publish.yml
Due: none

ci: fix cloudflare/pages-action get ref (#129)
  .github/workflows/publish.yml
Due: none

ci: cloudflare/pages-actionに渡すrefをごまかす
  .github/workflows/publish.yml
Due: none

ci: cloudflare/pages-actionに渡すrefをごまかす (#130)
  .github/workflows/publish.yml
Due: none

ci: cloudflare/pages-actionのバージョンをv1.4.1で固定
  .github/workflows/publish.yml
Due: none

ci: cloudflare/pages-actionのバージョンをv1.4.1で固定 (#131)
  .github/workflows/publish.yml
Due: none

fix: remove unused files
  nuxt.config.ts
  src/modules/ws-dev.ts
Due: eslint --fix, prettier --write

ルールページの記事作成日を表示しないよう変更 (#120)
  src/content/2.docs/1.rules/1.build.md
  src/content/2.docs/1.rules/index.md
Due: none

chore: add davidanson.vscode-markdownlint
  .devcontainer/devcontainer.json
Due: prettier --write

feat: example.mdを更新、markdownlintを追加
  .markdownlint.jsonc
  .vscode/extensions.json
  src/content/3.community/1.blog/example.md
Due: prettier --write

feat: support index page
  src/content/4.support/index.md
Due: none

fix: add end of newline
  .markdownlint.jsonc
Due: none

feat: add extensions for markdown editing
  .devcontainer/devcontainer.json
Due: prettier --write

feat: support codespace (#132)
  .devcontainer/devcontainer.json
Due: prettier --write

fix: CODEOWNERS
  .github/CODEOWNERS
Due: none

layoutタグを挿入
  src/content/4.support/3.profiles.md
Due: none

Update src/content/4.support/3.profiles.md
  src/content/4.support/3.profiles.md
Due: none

created:null を追加
  src/content/4.support/3.profiles.md
Due: none

chore: update @nuxt/content to v2.7.0
  package-lock.json
  package.json
Due: prettier --write

descriptionタグとimageタグを削除
  src/content/4.support/2.faq.md
Due: none

layoutタグを挿入
  src/content/4.support/2.faq.md
Due: none

ページ作成日をnullに変更
  src/content/4.support/2.faq.md
Due: none

build(deps): 依存関係を更新
  .devcontainer/devcontainer.json
  package-lock.json
  package.json
  src/components/TheHeader.vue
  src/components/TheHeaderOverlay.vue
  src/components/content/ContentEmbed.vue
  src/components/content/ContentListItem.vue
  src/components/content/HeroSection.vue
  src/components/content/WelcomeSection.vue
  src/layouts/article.vue
  src/layouts/list.vue
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

依存関係を更新 (#142)
  .devcontainer/devcontainer.json
  package-lock.json
  package.json
  src/components/TheHeader.vue
  src/components/TheHeaderOverlay.vue
  src/components/content/ContentEmbed.vue
  src/components/content/ContentListItem.vue
  src/components/content/HeroSection.vue
  src/components/content/WelcomeSection.vue
  src/layouts/article.vue
  src/layouts/list.vue
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

FAQページの文章を、旧サイトから移植 (#128)
  src/content/4.support/2.faq.md
Due: none

feat: ユーザ情報を表示するコンポーネントを追加
  src/components/content/ContentUser.vue
  src/content/4.support/3.profiles.md
Due: eslint --fix, prettier --write, stylelint --fix
