Repository jaoafa/jaoweb4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: 画像の表示を追加
  src/components/content/GallerySection.vue
  src/content/index.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: 写真ホバー時のアニメーションを追加
  src/components/content/GallerySection.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: モーダルを仮追加
  package-lock.json
  package.json
  src/components/content/GallerySection.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: クリックで拡大表示可能な画像表示コンポーネントを追加
  src/components/content/ContentImage.vue
  src/components/content/GallerySection.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: slotが空の場合に黒い背景のみ表示される問題を修正
  src/components/content/ContentImage.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 幅が狭い場合の表示を調整
  src/components/content/GallerySection.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: スムーススクロールを廃止
  src/app.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: フィルターを表示するかどうかを制御するpropsを追加
  src/components/content/ContentList.vue
  src/content/3.community/1.blog/index.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: 利用規約をルールに変更
  src/app.config.ts
  src/content/2.docs/2.rule.md
  src/content/2.docs/2.terms.md
Due: eslint --fix, prettier --write

docs: ルールなどのテキストを追加
  src/content/2.docs/1.guidelines/1.service.md
  src/content/2.docs/1.guidelines/2.railway.md
  src/content/2.docs/1.guidelines/index.md
  src/content/2.docs/2.policies/index.md
  src/content/2.docs/2.rule.md
Due: none

feat: 著者名で絞り込みする機能を追加
  src/components/content/ContentList.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 記事にタグの設定を追加
  src/components/content/ContentList.vue
  src/content/3.community/1.blog/example.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: タグで絞り込みする機能を追加
  src/components/content/ContentList.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: 絞り込みの選択肢が重複する問題を修正
  src/components/content/ContentList.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: ガイドラインをルールに変更
  src/app.config.ts
  src/content/2.docs/1.guidelines/index.md
  src/content/2.docs/1.rules/index.md
  src/content/2.docs/2.terms.md
Due: eslint --fix, prettier --write

fix: 画面幅が狭い場合に画面外へはみ出してしまう問題を修正
  src/components/content/ContentList.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: 記事一覧コンポーネントのリファクタリング
  src/components/content/ContentList.vue
  src/components/content/ContentListHeader.vue
  src/components/content/ContentListItem.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 該当する項目が無い場合の表示を追加
  src/components/content/ContentList.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: タグの設定がない場合にアイコンだけ表示される問題を修正
  src/components/content/ContentListItem.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: お知らせ記事を追加
  src/content/3.community/2.news/20230301.md
Due: none

feat: トップページの記事表示エリアのコンポーネントを追加
  package-lock.json
  package.json
  src/components/content/NewsSection.vue
  src/content/index.md
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: discordへのリンクを調整
  src/components/content/WelcomeSection.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: お知らせとブログの記事一覧表示を追加
  src/components/content/NewsSection.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: コンテンツ一覧コンポーネントに件数上限指定をするpropsを追加
  src/components/content/ContentList.vue
  src/components/content/NewsSection.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: トップページ記事表示エリアの幅が狭い場合の表示を調整
  src/components/content/NewsSection.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: タブ切り替え時のアニメーションを追加
  src/components/content/NewsSection.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: よくわからん
  nuxt.config.ts
  package-lock.json
  package.json
  src/content/search.md
  src/layouts/search.vue
  src/types/algolia.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: とりあえずgenerate後でも動くようにした
  nuxt.config.ts
  src/layouts/search.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: タブの要素にkey指定を追加
  src/components/content/NewsSection.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: ルールのインデックスページの内容を追加
  src/content/2.docs/1.rules/index.md
Due: none

docs: ルールページの文章を変更
  src/content/2.docs/1.rules/index.md
Due: none

Update src/content/2.docs/1.rules/index.md
  src/content/2.docs/1.rules/index.md
Due: none

docs: 意見の投稿先についての記述などを追加
  src/content/2.docs/1.rules/index.md
Due: none

build: node16系でも実行できるよう変更
  package-lock.json
  package.json
Due: prettier --write

feat: 記事の作成・更新日時を自動生成する機能を追加
  nuxt.config.ts
  package-lock.json
  package.json
  src/content/3.community/1.blog/example.md
  src/server/modules/pageinfo.ts
  src/server/plugins/pageinfo.ts
Due: eslint --fix, prettier --write

chore: エラーメッセージを変更
  src/server/plugins/pageinfo.ts
Due: eslint --fix, prettier --write

ci: workflowにnode16系での確認を追加
  .github/workflows/ci.yml
Due: none

chore: コメントを更新
  src/server/modules/pageinfo.ts
  src/server/plugins/pageinfo.ts
Due: eslint --fix, prettier --write

ci: cloudflare pagesへデプロイするワークフローを追加
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: prettier --write

ci: cloudflare pagesへデプロイするワークフローを調整
  .github/workflows/publish.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.vue)) or (any of: *.json)
  stylelint --fix: any of: *.vue
