Repository jaoafa/jaoweb4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, textlint

feat: add files.insertFinalNewline
  .editorconfig
  .vscode/settings.json
Due: prettier --write

fix: layoutをarticleに変更
  src/content/2.docs/2.policies/2.privacy.md
Due: textlint

feat: 処罰方針の移植と加筆
  src/content/2.docs/2.policies/3.bans.md
Due: textlint

feat: vscodeのフォルダ設定変更 (#161)
  .editorconfig
  .vscode/settings.json
Due: prettier --write

fix: typo in CONTRIBUTING.md (#164)
  .github/CONTRIBUTING.md
Due: none

feat: ルール群の作成および更新 (#119)
  src/content/2.docs/1.rules/1.build.md
  src/content/2.docs/1.rules/index.md
Due: textlint

ci: autofixのワークフローを追加
  .github/workflows/autofix.yml
Due: none

ci: ワークフローを修正
  .github/workflows/autofix.yml
Due: none

test: autofixの確認
  src/components/TheHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

ci: autofixのワークフローを追加 (#166)
  .github/workflows/autofix.yml
Due: none

ci: reviewdogのworkflowを追加
  .github/workflows/reviewdog.yml
Due: none

test: stylelintのエラーが出る変更を追加
  src/components/content/GallerySection.vue
Due: eslint --fix, prettier --write, stylelint --fix

ci: ワークフローのpermissionsを追加
  .github/workflows/reviewdog.yml
Due: none

test: eslintのエラーが出る変更を追加
  src/components/TheHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

test: デプロイ確認用のコミットを追加
  src/components/AppTest.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: リンクを修正
  src/content/2.docs/2.policies/2.privacy.md
Due: textlint

chore: add lint error text
  src/content/3.community/1.blog/example.md
Due: textlint

ci: jaotanのトークンを使うようにする
  .github/workflows/reviewdog.yml
Due: none

feat: add Reviewdog for textlint
  .github/workflows/reviewdog-textlint.yml
Due: none

fix: github-token 指定忘れ
  .github/workflows/reviewdog-textlint.yml
Due: none

Update src/content/2.docs/2.policies/2.privacy.md
  src/content/2.docs/2.policies/2.privacy.md
Due: textlint

fix: variable
  .github/workflows/reviewdog-textlint.yml
Due: none

fix: permission allow write to contents
  .github/workflows/reviewdog-textlint.yml
Due: none

ci: `/fix textlint` とコメントしたらautofixする
  .github/workflows/autofix-textlint.yml
Due: none

test: textlintのエラーが出る変更を追加
  src/content/3.community/1.blog/example.md
Due: textlint

ci: reviewdogのtextlint_flagsを修正
  .github/workflows/reviewdog.yml
Due: none

Update reviewdog.yml
  .github/workflows/reviewdog.yml
Due: none

ci: `/fix textlint` とコメントしたらautofixする (#173)
  .github/workflows/autofix-textlint.yml
Due: none

ci(autofix-textlint): プルリクエストをチェックアウトするように修正
  .github/workflows/autofix-textlint.yml
Due: none

ci(autofix-textlint): プルリクエストをチェックアウトするように修正 (#174)
  .github/workflows/autofix-textlint.yml
Due: none

feat: docs
  docs/mkdocs.yml
  docs/overrides/noindex.html
  docs/requirements.txt
Due: none

ci: プルリクエスト条件をラベル駆動に変更
  .github/workflows/autofix-textlint.yml
Due: none

ci: プルリクエスト条件をラベル駆動に変更 (#176)
  .github/workflows/autofix-textlint.yml
Due: none

test: いろいろ変更
  .github/workflows/autofix-textlint.yml
  .github/workflows/autofix.yml
  src/content/3.community/1.blog/example.md
Due: textlint

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.vue)) or (any of: *.json)
  stylelint --fix: any of: *.vue
  textlint: any of: src/content/**/*.md
