Repository jaoafa/jaoweb4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, textlint

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier --write"],
  "*.json": ["prettier --write"],
  "src/content/**/*.md": ["textlint"]
}

test: eslintのエラーが出る変更を追加
  src/components/TheHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

ci: プルリクエストを作成時に文章を破壊するよう変更
  .github/workflows/autofix-textlint.yml
  .github/workflows/autofix.yml
Due: none

ci: reviewdogのworkflowを追加 (#172)
  .github/workflows/autofix-textlint.yml
  .github/workflows/autofix.yml
  .github/workflows/reviewdog.yml
  src/content/3.community/1.blog/example.md
Due: textlint

docs: とりあえず構造とかだけ追加
  .eslintignore
  .github/workflows/pages-deploy.yml
  .gitignore
  .prettierignore
  .stylelintignore
  .textlintrc.js
  docs/content/basic/.pages
  docs/content/basic/content-structure.md
  docs/content/basic/dir-structure.md
  docs/content/index.md
  docs/content/rules/pr-strategy.md
  docs/content/usages/review.md
  docs/mkdocs.yml
  docs/overrides/main.html
  docs/start.ps1
Due: eslint --fix, prettier --write

chore: textlintの対象範囲を拡大
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

chore: codeowner変更、start.ps1からdev.ps1にリネーム
  .github/CODEOWNERS
  docs/dev.ps1
Due: none

feat: プルリクエストの運用について、途中まで
  docs/content/rules/pr-strategy.md
Due: none

Update src/content/2.docs/2.policies/2.privacy.md
  src/content/2.docs/2.policies/2.privacy.md
Due: textlint

feat: とりあえず画像とか追加
  docs/content/rules/.pages
  docs/content/rules/assets/deployed.png
  docs/content/rules/assets/suggestion.png
  docs/content/rules/pr-strategy.md
  docs/content/usages/.pages
Due: none

fix: リンクを修正
  src/content/2.docs/2.policies/2.privacy.md
Due: textlint

feat: 記事のフォルダ構成ページを追加
  docs/content/basic/content-structure.md
Due: none

Update src/content/4.support/3.profiles.md
  src/content/4.support/3.profiles.md
Due: textlint

Update src/content/2.docs/2.policies/3.bans.md
  src/content/2.docs/2.policies/3.bans.md
Due: textlint

Update src/content/4.support/1.inquiry.md
  src/content/4.support/1.inquiry.md
Due: textlint

Update docs/content/rules/pr-strategy.md
  docs/content/rules/pr-strategy.md
Due: none

docs: 「迷惑行為」の具体例の細分化
  src/content/2.docs/2.policies/3.bans.md
Due: textlint

docs: 運営者情報ページの各ユーザ情報の表示を変更 (#168)
  src/components/content/ContentUser.vue
  src/content/4.support/3.profiles.md
Due: eslint --fix, prettier --write, stylelint --fix, textlint

chore: textlintの対象範囲を拡大 (#177)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

docs: 運営者情報の文章を変更
  src/content/4.support/3.profiles.md
Due: textlint

chore: jaoafa/cloudflare-pages-deploy
  .github/workflows/publish.yml
Due: none

Update .github/workflows/publish.yml
  .github/workflows/publish.yml
Due: none

Update publish.yml
  .github/workflows/publish.yml
Due: none

chore: cloudflare/pages-deployにデバッグ追加 (#187)
  .github/workflows/publish.yml
Due: none
