Repository jaoafa/jaoweb4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

build: robotsのモジュールを更新
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: idへのリンク移動時にスムーススクロールするよう変更
  src/app.vue
  src/pages/[...slug].vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: ページ内リンク移動時にコンテンツとヘッダーが重なる問題を修正
  tailwind.config.ts
Due: eslint --fix, prettier --write

perf: tailwindをnuxtモジュールからpostcssプラグインへ変更
  .stylelintrc.js
  .vscode/settings.json
  nuxt.config.ts
  package-lock.json
  package.json
  src/assets/main.css
  tailwind.config.js
Due: eslint --fix, prettier --write

perf: pagesディレクトリを削除
  src/components/TheFooterNav.vue
  src/components/TheHeader.vue
  src/components/TheHeaderNavItems.vue
  src/components/content/ContentList.vue
  src/content/index.md
  src/layouts/article.vue
  src/layouts/default.vue
  src/layouts/list.vue
  src/layouts/top.vue
  src/pages/[...slug].vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 見出しから下線を削除
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: インラインコードのスタイルを変更
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: 記事内の画像のスタイルを変更
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: 文章中のリンクのスタイルを変更
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: アラートコンポーネントを追加
  src/components/content/ContentAlert.vue
  src/content/3.community/1.blog/example.md
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: 他ページへの埋め込み表示機能追加
  package-lock.json
  package.json
  src/components/content/ContentEmbed.vue
  src/content/3.community/1.blog/example.md
  src/server/api/embed.get.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: generateの場合に動作しない問題の修正
  src/components/content/ContentEmbed.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: useAsyncDataではなくuseFetchを使う
  src/components/content/ContentEmbed.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: add github embed
  src/content/3.community/1.blog/example.md
Due: none

fix: 使用していないコードの削除
  src/components/content/ContentEmbed.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: カードをリンク化。記事情報を取得できなかった場合はURLだけを表示する
  src/components/content/ContentEmbed.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: ogp-parserに依存せず独自でメタタグを取得するように
  package-lock.json
  package.json
  src/server/api/embed.get.ts
Due: eslint --fix, prettier --write

chore: trailing slashなURLだとなぜかリダイレクトされないので例を修正
  src/content/3.community/1.blog/example.md
Due: none

feat: url貼り付けでも埋め込みが機能するようにする
  src/content/3.community/1.blog/example.md
  src/server/plugins/embed-content.ts
Due: eslint --fix, prettier --write

fix: fetch()の第2引数を削除
  src/server/api/embed.get.ts
Due: eslint --fix, prettier --write

fix: 2xx以外のレスポンスを受け取った場合にエラーにならない問題修正
  src/server/api/embed.get.ts
Due: eslint --fix, prettier --write

chore: 埋め込みコンテンツのスタイルを調整
  src/components/content/ContentEmbed.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ヘッダーのロゴをホバーした場合のスタイルを変更
  src/components/TheHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: トップページのみヘッダーの文字色を変更
  src/components/TheHeader.vue
  src/layouts/top.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): nuxt v3.3.1
  package-lock.json
  package.json
  src/components/content/ContentEmbed.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: p以外のタグ内にあるリンクにスタイルが適用されない問題を修正
  src/components/content/ContentEmbed.vue
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: ヘッダーの動作切り替えをlayoutに応じて切り替えるよう変更
  src/components/TheHeader.vue
  src/layouts/top.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: トップページのヒーローエリアを追加
  package-lock.json
  package.json
  src/app.config.ts
  src/components/AppProvider.vue
  src/components/TheHeader.vue
  src/components/content/HeroSection.vue
  src/content/index.md
  src/public/images/main.jpg
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: ソーシャルリンクのコンポーネントを共通化
  src/app.config.ts
  src/components/SocialLinks.vue
  src/components/TheFooter.vue
  src/components/TheHeaderNav.vue
  src/components/TheHeaderSocial.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: ソーシャルリンクを並べる方向を指定するpropsを追加
  src/components/SocialLinks.vue
  src/components/content/HeroSection.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: メニュー開閉ボタンのアクセシビリティのエラーを修正
  src/components/TheHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: 画像の切り替えを追加
  src/components/content/HeroSection.vue
  src/public/images/main01.jpg
  src/public/images/main02.jpg
  src/public/images/main03.jpg
Due: eslint --fix, prettier --write, stylelint --fix

chore: トップページの画像を変更
  src/public/images/main02.jpg
  src/public/images/main03.jpg
Due: none

build: linterのモジュールを追加
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

perf: 画面サイズに応じて画像を切り替えられるよう変更
  src/components/content/HeroSection.vue
  src/public/images/main01.jpg
  src/public/images/main01/1200w.webp
  src/public/images/main01/1620w.webp
  src/public/images/main01/1920w.webp
  src/public/images/main01/856w.webp
  src/public/images/main02.jpg
  src/public/images/main02/1200w.webp
  src/public/images/main02/1620w.webp
  src/public/images/main02/1920w.webp
  src/public/images/main02/856w.webp
  src/public/images/main03.jpg
  src/public/images/main03/1200w.webp
  src/public/images/main03/1620w.webp
  src/public/images/main03/1920w.webp
  src/public/images/main03/856w.webp
Due: eslint --fix, prettier --write, stylelint --fix

chore: ヒーローエリアの高さを調整
  src/components/content/HeroSection.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: ウェルカムセクションを追加
  src/components/content/WelcomeSection.vue
  src/content/index.md
  src/public/images/jaoafa.webp
Due: eslint --fix, prettier --write, stylelint --fix

feat: でかいとまちを追加
  src/components/content/BigTomaWatchingYou.vue
  src/components/content/GallerySection.vue
  src/components/content/WelcomeSection.vue
  src/content/index.md
  src/layouts/top.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: hover検知処理の部分でビルド時にエラーが発生する問題を修正
  src/components/content/BigTomaWatchingYou.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: package-lock.jsonを再生成
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.vue)) or (any of: *.json)
  stylelint --fix: any of: *.vue
