Repository jaoafa/jaoweb4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: ビルド時に型チェックを実行するよう変更
  package-lock.json
  package.json
Due: prettier --write

chore: github用のファイルを追加
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/dependabot.yml
Due: none

ci: workflowや依存関係更新の設定を追加
  .github/workflows/ci.yml
  .renovaterc.json
Due: prettier --write

build: contentモジュールを追加
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

build: nuxtを安定版に更新
  package-lock.json
  package.json
Due: prettier --write

chore: renovateのschema設定を追加
  .vscode/settings.json
Due: prettier --write

docs: readmeを更新
  README.md
Due: none

build: sassを使用できるよう設定を追加
  .stylelintrc.js
  .vscode/settings.json
  nuxt.config.ts
  package-lock.json
  package.json
  src/assets/styles/colors.scss
  src/assets/styles/functions.scss
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
Due: eslint --fix, prettier --write

chore: リセット用cssを追加
  package-lock.json
  package.json
  src/app.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: サイト内で使用する色をsassの変数に追加
  src/assets/styles/colors.scss
Due: none

chore: カラーモード切り替えのモジュールを追加
  .vscode/settings.json
  nuxt.config.ts
  package-lock.json
  package.json
  src/app.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: 中央寄せのコンポーネントを追加
  package-lock.json
  package.json
  src/components/LCenter.vue
  src/types/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: クラスターコンポーネントを追加
  src/components/LCluster.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: サービスロゴのコンポーネントを追加
  src/components/AppLogo.vue
  src/components/LCenter.vue
  src/components/LCluster.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: 幅を指定した場合に高さが変化しない問題を修正
  src/components/AppLogo.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: アイコンのコンポーネントを追加
  src/components/LIcon.vue
Due: eslint --fix, prettier --write, stylelint --fix

style: modifierをルートのブロックにネストするよう変更
  src/components/LCenter.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: ヘッダーのコンポーネントを追加
  package-lock.json
  package.json
  src/app.vue
  src/assets/styles/functions.scss
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/components/TheHeader.vue
  src/layouts/default.vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ナビゲーションの項目をapp.configへ移動
  src/app.config.ts
  src/components/TheHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: ボタンのコンポーネントを追加
  src/components/AppButton.vue
  src/components/TheHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

build(deps): 依存関係を更新
  package-lock.json
  package.json
Due: prettier --write

ci: linterの設定を追加
  .commitlintrc.ts
  .editorconfig
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  .prettierrc.js
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: ファイルをsrcディレクトリへ移動
  nuxt.config.ts
  src/app.vue
  src/content/about.md
  src/content/index.md
  src/pages/[...slug].vue
  src/public/favicon.ico
Due: eslint --fix, prettier --write, stylelint --fix

feat: リセットcssの適用などを行うproviderコンポーネントを追加
  package-lock.json
  package.json
  src/app.vue
  src/components/AppProvider.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: sassの関数を読み込む設定を追加
  nuxt.config.ts
  src/assets/styles/functions/index.scss
  src/assets/styles/main.scss
Due: eslint --fix, prettier --write

feat: デフォルトのレイアウトを追加
  src/app.vue
  src/layouts/default.vue
Due: eslint --fix, prettier --write, stylelint --fix

ci: github用の設定を追加
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .renovaterc.json
Due: prettier --write

fix: 不要な文字が入っていてworkflowが動作しない問題を修正
  .github/workflows/ci.yml
Due: none

feat: ヘッダーを追加
  package-lock.json
  package.json
  src/components/AppLogo.vue
  src/components/AppProvider.vue
  src/components/TheHeader.vue
  src/layouts/default.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 幅が狭い場合のヘッダーの表示を追加
  src/assets/styles/functions.scss
  src/assets/styles/main.scss
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/components/TheHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

build: サブディレクトリ内のコンポーネントを読み込めるよう設定を変更
  nuxt.config.ts
  src/components/AppLogo/AppLogo.vue
  src/components/AppLogo/index.ts
  src/components/AppProvider/AppProvider.vue
  src/components/AppProvider/index.ts
  src/components/TheHeader/TheHeader.vue
  src/components/TheHeader/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: メニューの開閉を実装
  src/components/AppProvider/AppProvider.vue
  src/components/TheHeader/TheHeader.vue
  src/components/TheHeader/TheHeaderNav.vue
  src/components/TheHeader/TheHeaderNavWrapper.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: workflowのtypoを修正
  .github/workflows/ci.yml
Due: none

feat: グローバルナビゲーションを追加
  nuxt.config.ts
  package-lock.json
  package.json
  src/assets/images/file.svg
  src/assets/images/people.svg
  src/assets/images/rocket.svg
  src/assets/images/support.svg
  src/components/AppProvider/AppProvider.vue
  src/components/LIcon/LIcon.vue
  src/components/TheHeader/TheHeader.vue
  src/components/TheHeader/TheHeaderNav.vue
  src/components/TheHeader/TheHeaderNavWrapper.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: ナビゲーションのコンポーネントをリファクタリング
  src/components/AppLogo/AppLogo.vue
  src/components/TheHeader/TheHeader.vue
  src/components/TheHeader/TheHeaderNav.vue
  src/components/TheHeader/TheHeaderNavItems.vue
  src/components/TheHeader/TheHeaderNavWrapper.vue
  src/components/TheHeader/TheHeaderOverlay.vue
  src/components/TheHeader/TheHeaderSocial.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 幅が狭い場合のナビゲーションの表示を追加
  src/components/TheHeader/TheHeaderNav.vue
  src/components/TheHeader/TheHeaderNavItems.vue
  src/components/TheHeader/TheHeaderOverlay.vue
  src/components/TheHeader/TheHeaderSocial.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ナビゲーションの子アイテム選択時のアニメーションを追加
  src/components/TheHeader/TheHeaderNavItems.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: gtmの設定を追加
  nuxt.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.vue)) or (any of: *.json)
  stylelint --fix: any of: *.vue
