Repository jaoafa/jaoweb4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

ci: forkからのprで実行されないよう変更
  .github/workflows/publish.yml
Due: none

ci: workflowの権限設定を変更
  .github/workflows/publish.yml
Due: none

ci: publish workflowのtriggerなど変更
  .github/workflows/publish.yml
Due: none

ci: fix checkout ref
  .github/workflows/publish.yml
Due: none

ci: contentsでwrite権限を付与
  .github/workflows/publish.yml
Due: none

ci: actions/cacheを使うように戻し
  .github/workflows/publish.yml
Due: none

ci: feat add label trigger
  .github/workflows/publish.yml
Due: none

ci: add remove label step
  .github/workflows/publish.yml
Due: none

ci: workflowの視認性向上のために改行を適宜追加
  .github/workflows/ci.yml
Due: none

ci: プルリクエストの場合に複数起動すると既存のジョブが取り消しされてしまう問題修正
  .github/workflows/publish.yml
Due: none

ci: github.shaではなく、github.refを参照する
  .github/workflows/publish.yml
Due: none

ci: fix concurrency group
  .github/workflows/publish.yml
Due: none

ci: 作成・更新日情報取得のためにfetch-depthを追加
  .github/workflows/publish.yml
Due: none

ci: workflow_dispatchの場合はコミットにコメントしないようにする
  .github/workflows/publish.yml
Due: none

docs: 運営チームの表記に変更
  src/content/2.docs/1.rules/index.md
Due: none

docs: 制作についてのルールを追加
  src/content/2.docs/1.rules/1.build.md
Due: none

chore: 記事一覧コンポーネントの余白を調整
  src/components/content/ContentList.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: updatedのみ存在する場合の記事一覧への更新日表示を追加
  src/components/content/ContentListItem.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: メタデータ表示エリアを常に出力するよう変更
  src/components/content/ContentListItem.vue
Due: eslint --fix, prettier --write, stylelint --fix

Update src/content/2.docs/1.rules/1.build.md
  src/content/2.docs/1.rules/1.build.md
Due: none

build: cloudflare pages用のヘッダーファイルを追加
  src/public/_headers
Due: none

feat: content-listのfilter有効無効をuserとtagで別々にする
  src/components/content/ContentList.vue
  src/components/content/ContentListHeader.vue
  src/content/2.docs/1.rules/index.md
  src/content/2.docs/2.policies/index.md
  src/content/3.community/1.blog/index.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: フィルタが有効でない場合にdivタグを出さない
  src/components/content/ContentList.vue
Due: eslint --fix, prettier --write, stylelint --fix

revert: remove filter tag in rules/index
  src/content/2.docs/1.rules/index.md
Due: none

docs: 建築についてのルールを調整
  src/content/2.docs/1.rules/1.build.md
Due: none

feat: 記事ページにタグ表示を追加
  src/layouts/article.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(modules-pageinfo): add node prefix
  src/server/modules/pageinfo.ts
Due: eslint --fix, prettier --write

fix(plugins-pageinfo): add node prefix
  src/server/plugins/pageinfo.ts
Due: eslint --fix, prettier --write

fix: modules/pageinfoを移動
  nuxt.config.ts
  src/modules/pageinfo.ts
  src/server/plugins/pageinfo.ts
Due: eslint --fix, prettier --write

feat: nullの場合は front matter を上書きしないようにする
  src/server/plugins/pageinfo.ts
Due: eslint --fix, prettier --write

chore: ブログとお知らせの created と updated を null にする
  src/content/3.community/1.blog/index.md
  src/content/3.community/2.news/index.md
Due: none

chore: 記事の型を追加
  src/components/content/ContentList.vue
  src/components/content/ContentListHeader.vue
  src/components/content/ContentListItem.vue
  src/types/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: トップページの記事一覧表示部分のスタイルを調整
  src/components/content/NewsSection.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 記事の文字サイズを調整
  src/layouts/article.vue
  src/layouts/list.vue
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: 日付の表示形式を変更
  src/layouts/article.vue
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.vue)) or (any of: *.json)
  stylelint --fix: any of: *.vue
