Repository jaoafa/jaoweb4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: フッターを追加
  src/components/AppProvider/AppProvider.vue
  src/components/LIcon/LIcon.vue
  src/components/TheFooter/TheFooter.vue
  src/components/TheFooter/TheFooterCopyright.vue
  src/components/TheFooter/TheFooterNav.vue
  src/components/TheFooter/TheFooterSocial.vue
  src/components/TheFooter/index.ts
  src/layouts/default.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ナビゲーションの項目をappConfigから取得するよう変更
  src/app.config.ts
  src/components/TheFooter/TheFooterNav.vue
  src/components/TheHeader/TheHeaderNavItems.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: サイト名とキャッチコピーをappConfigから取得するよう変更
  src/app.config.ts
  src/components/TheFooter/TheFooter.vue
  src/components/TheFooter/TheFooterCopyright.vue
  src/components/TheHeader/TheHeader.vue
  src/components/TheHeader/TheHeaderNav.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: リアクティブな変数にコンポーネントを代入していたのを変更
  src/app.config.ts
Due: eslint --fix, prettier --write

chore: ソーシャルリンクにラベルの属性を追加
  src/components/TheFooter/TheFooterSocial.vue
  src/components/TheHeader/TheHeaderSocial.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ソーシャルリンクのurlをappConfigから取得するよう変更
  src/app.config.ts
  src/components/TheFooter/TheFooterSocial.vue
  src/components/TheHeader/TheHeaderSocial.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: 画面幅が狭いときに横スクロールが発生する問題を修正
  src/components/TheFooter/TheFooter.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 記事ページの外枠を追加
  src/content/about.md
  src/content/docs/terms.md
  src/content/index.md
  src/pages/[...slug].vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: ヘッダーのナビゲーションをスクロール時にメインコンテンツもスクロールされる問題を修正
  src/components/TheHeader/TheHeaderOverlay.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ページスクロール時にヘッダーに影をつける処理を追加
  src/components/TheHeader/TheHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: リンククリック時にヘッダーを閉じる処理を追加
  src/components/TheHeader/TheHeader.vue
  src/components/TheHeader/TheHeaderNav.vue
  src/components/TheHeader/TheHeaderNavItems.vue
  src/components/TheHeader/TheHeaderSocial.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 各ページのmdファイルを追加
  src/content/1.guide/index.md
  src/content/2.docs/guidelines/index.md
  src/content/2.docs/index.md
  src/content/2.docs/policies/index.md
  src/content/2.docs/spec.md
  src/content/2.docs/terms.md
  src/content/3.community/blog/index.md
  src/content/3.community/index.md
  src/content/3.community/news/index.md
  src/content/4.support/faq.md
  src/content/4.support/index.md
  src/content/4.support/inquiry.md
  src/content/4.support/profiles.md
  src/pages/[...slug].vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: お問い合わせページにnoindexを設定
  src/content/4.support/inquiry.md
Due: none

chore: faviconの設定を追加
  src/app.config.ts
  src/app.vue
  src/public/android-chrome-192x192.png
  src/public/android-chrome-512x512.png
  src/public/apple-touch-icon.png
  src/public/browserconfig.xml
  src/public/favicon-16x16.png
  src/public/favicon-32x32.png
  src/public/favicon.ico
  src/public/mstile-144x144.png
  src/public/mstile-150x150.png
  src/public/mstile-310x150.png
  src/public/mstile-310x310.png
  src/public/mstile-70x70.png
  src/public/safari-pinned-tab.svg
  src/public/site.webmanifest
Due: eslint --fix, prettier --write, stylelint --fix

chore: レイアウトの内容をappに移動
  src/app.vue
  src/layouts/default.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: gtmの設定をconfigからappへ移動
  nuxt.config.ts
  src/app.config.ts
  src/app.vue
Due: eslint --fix, prettier --write, stylelint --fix

build: documentDrivenモードを有効化
  nuxt.config.ts
  src/content/index.md
Due: eslint --fix, prettier --write

refactor: スクロール時のヘッダーの処理をvueuseを使ったものに変更
  nuxt.config.ts
  package-lock.json
  package.json
  src/components/TheHeader/TheHeader.vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

build: tailwindcssを導入
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  nuxt.config.ts
  package-lock.json
  package.json
  src/assets/styles/mixins.scss
  src/assets/styles/tailwind.scss
  src/assets/styles/variables.scss
  src/components/AppProvider/AppProvider.vue
  src/components/LIcon/LIcon.vue
  src/components/TheFooter/TheFooter.vue
  src/components/TheFooter/TheFooterNav.vue
  src/components/TheFooter/TheFooterSocial.vue
  src/components/TheHeader/TheHeader.vue
  src/components/TheHeader/TheHeaderNav.vue
  src/components/TheHeader/TheHeaderNavItems.vue
  src/components/TheHeader/TheHeaderOverlay.vue
  src/components/TheHeader/TheHeaderSocial.vue
  tailwind.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: 西暦取得をvueuseを使用するよう変更
  src/components/TheFooter/TheFooterCopyright.vue
Due: eslint --fix, prettier --write, stylelint --fix

style: sassをtailwindのクラスに置き換え
  package-lock.json
  package.json
  src/app.vue
  src/components/AppLogo/AppLogo.vue
  src/components/AppProvider/AppProvider.vue
  src/components/LIcon/LIcon.vue
  src/components/TheFooter/TheFooter.vue
  src/components/TheFooter/TheFooterCopyright.vue
  src/components/TheFooter/TheFooterNav.vue
  src/components/TheFooter/TheFooterSocial.vue
  src/components/TheHeader/TheHeader.vue
  src/components/TheHeader/TheHeaderNav.vue
  src/components/TheHeader/TheHeaderNavItems.vue
  src/components/TheHeader/TheHeaderOverlay.vue
  src/components/TheHeader/TheHeaderSocial.vue
  tailwind.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

build: 不要なsassファイルを削除
  nuxt.config.ts
  src/assets/styles/functions.scss
  src/assets/styles/main.scss
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/pages/[...slug].vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ogpタグなどの設定を追加
  src/app.config.ts
  src/app.vue
  src/components/TheFooter/TheFooterSocial.vue
  src/components/TheHeader/TheHeaderSocial.vue
  src/content/index.md
  src/pages/[...slug].vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: コンポーネントファイルの管理方法を変更
  nuxt.config.ts
  src/components/AppIcon.vue
  src/components/AppLogo.vue
  src/components/AppLogo/index.ts
  src/components/AppProvider.vue
  src/components/AppProvider/index.ts
  src/components/LIcon/LIcon.vue
  src/components/TheFooter.vue
  src/components/TheFooter/index.ts
  src/components/TheFooterCopyright.vue
  src/components/TheFooterNav.vue
  src/components/TheFooterSocial.vue
  src/components/TheHeader.vue
  src/components/TheHeader/index.ts
  src/components/TheHeaderNav.vue
  src/components/TheHeaderNavItems.vue
  src/components/TheHeaderOverlay.vue
  src/components/TheHeaderSocial.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: アイコンをheroiconsに変更
  nuxt.config.ts
  package-lock.json
  package.json
  src/app.config.ts
  src/assets/images/file.svg
  src/assets/images/people.svg
  src/assets/images/rocket.svg
  src/assets/images/support.svg
Due: eslint --fix, prettier --write

chore: ヘッダーの背景をすりガラス風に変更
  src/components/TheFooter.vue
  src/components/TheHeader.vue
  src/layouts/default.vue
  src/pages/[...slug].vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: tailwindの設定を変更
  .stylelintrc.js
  .vscode/settings.json
  nuxt.config.ts
  package-lock.json
  package.json
  src/assets/styles/tailwind.scss
  tailwind.config.ts
Due: eslint --fix, prettier --write

feat: 記事ページを追加
  src/components/TheHeader.vue
  src/content/3.community/blog/example.md
  src/layouts/default.vue
  src/pages/[...slug].vue
  src/public/default.jpg
Due: eslint --fix, prettier --write, stylelint --fix

feat: 記事ページに著者情報表示を追加
  src/content/3.community/blog/example.md
  src/pages/[...slug].vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: 記事一覧を取得するコンポーネントを追加
  src/components/content/ContentList.vue
  src/content/3.community/blog/index.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: リスト表示の見た目を調整
  src/components/content/ContentList.vue
  src/content/3.community/blog/index.md
  src/layouts/list.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: タイトルが長いときの表示を調整
  package-lock.json
  package.json
  src/components/content/ContentList.vue
  tailwind.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: コンテンツの絞り込み条件を修正
  src/components/content/ContentList.vue
  src/content/2.docs/guidelines/index.md
  src/content/2.docs/index.md
  src/content/2.docs/policies/index.md
  src/content/3.community/index.md
  src/content/3.community/news/index.md
  src/content/4.support/index.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: レイアウトを指定していないページにdefaultが適用されないので指定を追加
  src/app.config.ts
  src/content/1.guide/index.md
  src/content/2.docs/1.guidelines/index.md
  src/content/2.docs/1.spec.md
  src/content/2.docs/2.policies/index.md
  src/content/2.docs/2.terms.md
  src/content/3.community/1.blog/example.md
  src/content/3.community/1.blog/index.md
  src/content/3.community/2.news/index.md
  src/content/4.support/1.inquiry.md
  src/content/4.support/2.faq.md
  src/content/4.support/3.profiles.md
Due: eslint --fix, prettier --write

feat: サイトマップを追加
  nuxt.config.ts
  package-lock.json
  package.json
  src/server/routes/sitemap.xml.ts
Due: eslint --fix, prettier --write

feat: 構造化データマークアップの追加
  nuxt.config.ts
  package-lock.json
  package.json
  src/app.config.ts
  src/app.vue
  src/public/logo.png
  src/server/routes/sitemap.xml.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: パンくずリストの構造化データマークアップを追加
  src/pages/[...slug].vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 記事ページの構造化データを追加
  src/pages/[...slug].vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 記事ページ用のレイアウトを追加
  src/content/1.guide/index.md
  src/content/2.docs/1.spec.md
  src/content/2.docs/2.terms.md
  src/content/3.community/1.blog/example.md
  src/content/4.support/1.inquiry.md
  src/content/4.support/2.faq.md
  src/content/4.support/3.profiles.md
  src/layouts/article.vue
  src/layouts/default.vue
  src/pages/[...slug].vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: robots.txtを生成するモジュールを追加
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.vue)) or (any of: *.json)
  stylelint --fix: any of: *.vue
