Repository jaoafa/jaoweb4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

chore: twitterのurlをidから生成するよう変更
  src/components/content/ContentUser.vue
  src/content/4.support/3.profiles.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: propsの形式を変更
  src/components/content/ContentUser.vue
  src/content/4.support/3.profiles.md
Due: eslint --fix, prettier --write, stylelint --fix

ci: renovateの設定ファイルの場所を変更
  .github/renovate.json
Due: prettier --write

ci: 依存関係更新prの数の設定を変更
  .github/renovate.json
Due: prettier --write

feat: textlint
  .lintstagedrc.json
  .textlintrc.json
  .vscode/extensions.json
  package-lock.json
  package.json
  src/content/3.community/1.blog/example.md
  src/content/4.support/3.profiles.md
  src/content/index.md
Due: prettier --write

chore: add devcontainer extension
  .devcontainer/devcontainer.json
Due: prettier --write

chore: add lint:text to lint script
  package.json
Due: prettier --write

chore: add textlint-rule-no-unmatched-pair
  .textlintrc.json
  package-lock.json
  package.json
  src/content/4.support/2.faq.md
  src/content/4.support/3.profiles.md
Due: prettier --write

chore: add ja-space-around-link
  .textlintrc.json
  package-lock.json
  package.json
  src/content/3.community/1.blog/example.md
  src/content/4.support/2.faq.md
  src/content/4.support/3.profiles.md
Due: prettier --write

fix: textlint targetting for .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

chore: ユーザページへのリンク設定を名前ではなくminecraftIdに変更
  src/components/content/ContentUser.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 名前とidを横並びにしている箇所のスタイルを調整
  src/components/content/ContentUser.vue
Due: eslint --fix, prettier --write, stylelint --fix

style: textlintのエラーを修正
  src/content/4.support/3.profiles.md
Due: none

feat: textlint-rule-patternを導入し、「ウェブサイト」を「Web サイト」に変えるように
  .textlintrc.json
  package-lock.json
  package.json
  src/content/3.community/2.news/20230301.md
Due: prettier --write

ci: npmのscriptsを変更
  .eslintignore
  .github/dependabot.yml
  .prettierignore
  .stylelintignore
  package.json
  src/public/site.webmanifest
Due: prettier --write

ci: lintstagedの設定を変更
  .lintstagedrc.json
Due: prettier --write

ci: workflowを調整
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

ci: textlintの設定ファイルをjsonからjsに変更
  .textlintrc.js
  .textlintrc.json
Due: eslint --fix, prettier --write

jaoweb2から移植
  src/content/2.docs/1.spec.md
Due: none

重複している内容を削除
  src/content/4.support/2.faq.md
Due: none

fix:FAQ内の項目について、重複している部分を削除 (#157)
  src/content/4.support/2.faq.md
Due: none

ページの移植とtextlint
  src/content/4.support/1.inquiry.md
Due: none

ci: workflowのpath指定を削除
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

chore: configファイルのコメントを調整
  .commitlintrc.ts
  .eslintrc.js
  .stylelintrc.js
  .textlintrc.js
  nuxt.config.ts
Due: eslint --fix, prettier --write

style: textlintのルール追加に伴い表記を変更
  src/content/4.support/3.profiles.md
Due: none

fix: gitフックのファイルに実行権限を追加
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: textlintのエラー修正
  src/content/2.docs/1.rules/1.build.md
  src/content/2.docs/1.rules/index.md
Due: none

feat: vscodeのフォルダ設定変更
  .vscode/settings.json
Due: prettier --write

feat: add git.autoFetch
  .vscode/settings.json
Due: prettier --write

Update src/content/4.support/3.profiles.md
  src/content/4.support/3.profiles.md
Due: none

Update src/content/4.support/1.inquiry.md
  src/content/4.support/1.inquiry.md
Due: none

ci: npmscriptの名前を変更
  .github/workflows/ci.yml
  package.json
Due: prettier --write

Linterなどのワークフローの改善 (#155)
  .commitlintrc.ts
  .eslintignore
  .eslintrc.js
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .stylelintignore
  .stylelintrc.js
  .textlintrc.js
  .textlintrc.json
  nuxt.config.ts
  package.json
  src/public/site.webmanifest
Due: eslint --fix, prettier --write

プライバシーポリシーを移植・加筆
  src/content/2.docs/2.policies/2.privacy.md
Due: none

fix: typo for CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none
